# Dependencies
node_modules/
.pnp
.pnp.js

# Testing and Coverage
coverage/
.nyc_output
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Production Build
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel Deployment Metadata
.vercel

# IDE and OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Husky
.husky/_
